extends ../base

block append page
  section.container.questions
    for question in questions
      .question
        h2.title.title--highlight.title--cursive= question.fields.question
        p.text.text--no-margin!= utils.md.render(question.fields.answer)
