.tabulator {
    margin-bottom: 0;

    &-header {
        border-top: none !important;
        border-bottom-width: 1px !important;
    }

    &-footer {
        padding: 0.75rem 1.25rem !important;
        border-top-width: 1px !important;
    }

    &-row {
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05) !important;
        }

        &:last-of-type {
            border-bottom: none !important;
        }
    }

    &-page {
        margin-top: 0 !important;
    }

    input[type="search"],
    input[type="text"] {
        @extend .form-control;
    }
}
