{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load calabria %}
{% load i18n %}
{% load static %}

{% block body %}

  {# Include navbar #}
  {% include 'web/navbar.html' %}

  {# Web content #}
  {% block app %}{% endblock %}

  {# Contact form #}
{#  <section class="block">#}
{#    <h1 class="block__title">Contact us</h1>#}
{#    <form action="{% url '' %}" class="block__content">#}
{#      {{ contact_form|crispy }}#}
{#    </form>#}
{#  </section>#}

  {# Include footer #}
  {% include 'web/footer.html' %}

{% endblock %}

{% block js %}
  <script
    id="cookieinfo"
    type="text/javascript"
    src="https://cookieinfoscript.com/js/cookieinfo.min.js"
    data-moreinfo="/redirect/22"
    data-message="{% trans "We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies." %}"
    data-linkmsg="{% trans "Read our privacy policy" %}">
  </script>
{% endblock %}

{% block g_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138667517-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138667517-1');
  </script>
{% endblock %}