$web-white: #fff;
$web-orange: #f05e23;
$web-dark-orange: darken(#f05e23, 15%);
$web-dark-gray: #353535;
$web-text-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
$web-bg-gradient: linear-gradient(
    225deg,
    rgba(21, 21, 21, 0.4) 40%,
    rgba(21, 21, 21, 0.4) 100%
);
$web-bg-shadow: rgba(0, 0, 0, 0.2);
