{
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        }
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-keys-fix/sort-keys-fix": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ]
  }
}